

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="/assets/css/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
   <title>Bag Product</title>
   
</head>

<body>
   <div class="container-lg-fluid">
    <%- include("header.ejs")%>
      <main>
    
         
         <div class="container">
            <div class="sec-1">
               <div class="grid-header one">
                  <span><b><%= product.title %> Details</b></span>
               </div>
            </div>
            <section class="details-sec" style="background-color: #eee;">
               <div class="container py-5">
                  <div class="row justify-content-center mb-3">
                     <div class="col-md-12 col-xl-10">
                        <div class="card shadow-0 border rounded-3">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-md-12 col-lg-6">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                       <% product.images.forEach(image => { %>
                                          <img src="data:image/jpeg;base64,<%= image %>" class="w-100" style="height: 500px; object-fit: cover;"/>
                                       <% }); %>
                                       <a href="#!">
                                          <div class="hover-overlay">
                                             <div class="mask"
                                                style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="col-md-12 col-lg-6">
                                    <h5><%= product.title %></h5>
                                  
                                    <div class="mt-1 mb-0 text-muted small">
                                       <span><%= product.description %></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                       <span>Price: $<%= product.price.toFixed(2) %></span>
                                    </div>
                                    <p class="text-truncate mb-4 mb-md-0">
                                       <span>Material:</span><div class="mb-2 text-muted small"> <%= product.material %></div>
                                    </p>
                                    <p class="text-truncate mb-4 mb-md-0">
                                       <span>Size:</span><div class="mb-2 text-muted small"> <%= product.size %></div>
                                    </p>
                                    <p class="text-truncate mb-4 mb-md-0">
                                       <span>Weight:</span><div class="mb-2 text-muted small"> <%= product.weight %></div>
                                    </p>
                                    
                                    <div class="d-flex  mt-4">
                                       <% if (user && user.isAdmin) { %>
                                          <form action="/product/delete-product/<%= product._id %>" " method="post">
                                             <input type="hidden" name="productId" value="<%= product._id %>">
                                             <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                           </form> 
                                        
                                        <% } else { %>   
                                          <form action="/wishlist/add" method="post">
                                             <input type="hidden" name="productId" value="<%= product._id %>">
                                             <button class="btn btn-outline-danger btn-sm" style="margin-right: 1rem;"  type="submit">Add to Wishlist</button>
                                           </form>    
                                          <form action="/order/add-order" method="post">
                                             <input type="hidden" name="productId" value="<%= product._id %>">
                                             <button class="btn btn-danger btn-sm" type="submit">Buy Now</button>
                                           </form>
                                          
                                          <% } %>
                                     </div>
                               
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </main>
     
      <%- include("footer.ejs") %>

   </div>
 
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>

